@charset "UTF-8";
body {
  background-color: #ffffff;
  color: #212121;
  font-family: Roboto, sans-serif;
  font-style: normal;
  min-width: 480px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.page-header {
  background-color: #ffffff;
  border-bottom: 1px solid #ececec;
  position: relative;
}

.page-header__logo {
  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #212121;
}

.page-header__logo--start {
  color: #2196f3;
}

.page-header__logo--finish {
  color: #212121;
}

@media screen and (min-width: 768px) {
  .page-header__logo {
    margin-right: 88px;
  }
}

@media screen and (min-width: 1200px) {
  .page-header__logo {
    margin-right: 93px;
    font-size: 26px;
  }
}

.main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80px;
  justify-items: center;
}

@media screen and (max-width: 767px) {
  .main-nav {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.main-nav__button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 0;
  margin: 0;
  width: 40px;
  height: 40px;
  border: none;
  background-color: transparent;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
  outline: transparent;
  z-index: 2;
}

@media screen and (min-width: 768px) {
  .main-nav__button {
    display: none;
  }
}

.main-nav__button.is-open .icon-cross {
  display: block;
}

.main-nav__button.is-open .icon-menu {
  display: none;
}

.main-nav__button:hover {
  fill: #2196f3;
}

.main-nav__button:focus {
  fill: #2196f3;
}

.main-nav .icon-cross {
  display: none;
}

.main-nav .icon-menu {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

@media screen and (max-width: 767px) {
  .menu-container {
    display: none;
    position: absolute;
    margin: 0;
    padding: 0;
    top: 0%;
    left: 0;
    width: 480px;
    height: 796px;
    overflow: hidden;
    background: #ffffff;
    -webkit-box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
            box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
    text-align: center;
    padding: 48px 40px;
    z-index: 1;
  }
  .menu-container.is-open {
    display: block;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #212121;
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .menu-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-left: 0;
  }
}

@media screen and (min-width: 1200px) {
  .menu-container {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

/* Главная навигация */
.site-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  margin: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 768px) {
  .site-nav {
    margin-right: 84px;
  }
}

@media screen and (min-width: 1200px) {
  .site-nav {
    margin-right: 304px;
  }
}

@media screen and (max-width: 767px) {
  .site-nav {
    display: block;
    padding: 0;
    text-align: left;
    margin: 0;
    margin-bottom: 306px;
  }
}

@media screen and (min-width: 768px) {
  .site-nav__item:not(:last-child) {
    margin-right: 50px;
  }
}

@media screen and (max-width: 767px) {
  .site-nav__item {
    margin-left: 0;
    margin-right: 0;
    height: 40px;
  }
  .site-nav__item:not(:last-child) {
    margin-bottom: 32px;
  }
}

.site-nav__link {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
  height: 40px;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 767px) {
  .site-nav__link {
    display: block;
    margin: 0;
    padding: 0;
    height: 40px;
    font-size: 40px;
    line-height: 1.17;
    letter-spacing: 0.02em;
  }
}

.site-nav__link:hover {
  color: #2196f3;
}

.site-nav__link:focus {
  color: #2196f3;
}

.site-nav__link--current {
  color: #2196f3;
  position: relative;
}

@media screen and (min-width: 768px) {
  .site-nav__link--current::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 4px;
    border-radius: 2px;
    display: block;
    left: 0;
    bottom: 0;
    background-repeat: no-repeat;
    background-color: #2196f3;
    top: 43px;
  }
}

.contacts-nav {
  margin: 0;
  padding: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
  fill: #757575;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

@media screen and (max-width: 1199px) {
  .contacts-nav__item:not(:first-child) {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .contacts-nav__item:not(:first-child):not(:first-child) {
    margin-right: 30px;
  }
}

@media screen and (max-width: 1199px) {
  .contacts-nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    font-size: 12px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

@media screen and (max-width: 767px) {
  .contacts-nav {
    height: 100px;
    display: block;
    margin: 0;
    padding: 0;
    text-align: left;
    width: 400px;
    margin-bottom: 64px;
  }
  .contacts-nav__item {
    height: 34px;
  }
  .contacts-nav__item:not(:last-child) {
    margin-bottom: 32px;
  }
  .contacts-nav .mail,
  .contacts-nav .phone {
    display: none;
  }
}

.contacts-nav__link-phone {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
  fill: #757575;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 16px;
  display: block;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .contacts-nav__link-phone {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 34px;
    line-height: 40px;
    letter-spacing: 0.02em;
    color: #2196f3;
    height: 34px;
  }
}

.contacts-nav__link-mail {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
  fill: #757575;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 16px;
  display: block;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.contacts-nav__link-mail:hover {
  color: #2196f3;
  fill: #2196f3;
}

@media screen and (max-width: 767px) {
  .contacts-nav__link-mail {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.02em;
    height: 24px;
  }
}

.contacts-nav__link-mail:hover, .contacts-nav__link-phone:hover {
  color: #2196f3;
  fill: #2196f3;
}

.contacts-nav__link-mail:focus, .contacts-nav__link-phone:focus {
  color: #2196f3;
  fill: #2196f3;
}

.mail,
.phone {
  margin-right: 10px;
}

@media screen and (max-width: 1199px) {
  .mail,
  .phone {
    margin-right: 8px;
  }
}

.network-items {
  margin: 0;
  padding: 0;
  text-align: left;
}

.network-items__link {
  display: inline-block;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.02em;
  color: #2196f3;
  height: 22px;
}

@media screen and (min-width: 768px) {
  .network-items {
    display: none;
  }
}

.network-items__list {
  display: inline-block;
}

.network-items__list:not(:last-child) {
  margin-right: 20px;
}

.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: center;
}

.footer__logo {
  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #212121;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 1200px) {
  .footer__logo {
    font-size: 26px;
  }
}

.footer__logo--start {
  color: #2196f3;
}

.footer__logo--finish {
  color: #ffffff;
}

.address {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  background-color: #2f303a;
  color: #ffffff;
}

.address__link {
  color: rgba(255, 255, 255, 0.6);
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address__link:hover, .address__link:focus {
  color: #2196f3;
}

.address-list:not(:last-child) {
  margin-bottom: 8px;
}

@media screen and (min-width: 1200px) {
  .address-list:not(:last-child) {
    margin-bottom: 9px;
  }
}

.address-list:first-child {
  margin-top: 20px;
}

@media screen and (min-width: 1200px) {
  .main-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

@media screen and (min-width: 768px) {
  .firs-second {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

.footer-first {
  margin-bottom: 60px;
}

@media screen and (min-width: 767px) {
  .footer-first {
    margin-right: 165px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-first {
    margin-right: 70px;
    margin-bottom: 0;
    text-align: left;
  }
}

.footer-second {
  text-align: center;
  margin-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .footer-second {
    margin-right: 93px;
    margin-bottom: 0;
    text-align: left;
  }
}

.footer-second__title {
  color: #ffffff;
  margin-bottom: 20px;
  margin-top: 0;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.social-networks__link:hover,
.social-networks__link:focus {
  background-color: #2196f3;
  fill: white;
}

.footer-third {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer-third__label {
  display: block;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  margin-bottom: 20px;
  cursor: pointer;
}

@media screen and (min-width: 1200px) {
  .footer-third__label {
    text-align: left;
  }
}

.footer-third__input {
  display: block;
  width: 450px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding: 15px 16px;
  margin-bottom: 20px;
  background-color: transparent;
  color: #ffffff;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 1200px) {
  .footer-third__input {
    width: 358px;
    margin: 0;
    margin-right: 24px;
  }
}

.footer-third__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 200px;
  height: 50px;
  background: #2196f3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding-left: 29px;
  letter-spacing: 0.06em;
  color: #ffffff;
  border: transparent;
  cursor: pointer;
}

.footer-third__button::after {
  content: '';
  background-image: url(../images/iconsend.svg);
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
  margin-left: 10px;
}

.input-button {
  margin-right: 0;
}

@media screen and (min-width: 1200px) {
  .input-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.section-hero {
  background-color: #2f303a;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/Imghero.jpg);
  background-image: linear-gradient(to bottom, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/Imghero.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-right: 0;
  height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (min-width: 1200px) {
  .section-hero {
    height: 600px;
  }
}

@media screen and (min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .section-hero {
    background-image: url(../images/Imghero@2x.jpg);
  }
}

.section-hero__title {
  width: 360px;
  height: 84px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 26px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  margin-top: 118px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 1200px) {
  .section-hero__title {
    width: 696px;
    height: 120px;
    font-size: 44px;
    line-height: 60px;
    margin-top: 200px;
  }
}

.section-hero__button {
  height: 50px;
  margin-top: 0;
  margin-bottom: 118px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 32px;
  padding-left: 32px;
  border-radius: 4px;
  border: transparent;
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  background-color: #2196f3;
  color: #ffffff;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

@media screen and (min-width: 1200px) {
  .section-hero__button {
    margin-bottom: 200px;
  }
}

.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  background: rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  width: 528px;
  height: 581px;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px;
  overflow-y: scroll;
}

@media screen and (max-width: 1199px) {
  .modal {
    width: 450px;
    height: 609px;
  }
}

.modal__title {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 19px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin: 0;
  margin-bottom: 12px;
}

@media screen and (max-width: 1199px) {
  .modal__title {
    line-height: 30px;
  }
}

.close-modal {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 8px;
  right: 8px;
  cursor: pointer;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.close-modal:hover, .close-modal:focus {
  fill: #2196f3;
}

.modal-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.modal-form:not(:nth-of-type(4)) {
  margin-bottom: 10px;
}

.modal-form__label {
  margin-bottom: 4px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: #757575;
}

.modal-form__input {
  margin: 0;
  padding: 0;
  padding-left: 42px;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  cursor: pointer;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__icon {
  position: absolute;
  top: 50%;
  left: 14px;
  display: inline-block;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__comment {
  padding: 12px 16px;
  width: 100%;
  height: 120px;
  left: 576px;
  top: 518px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  cursor: pointer;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__comment:hover {
  border: 1px solid #2196f3;
}

.modal-form__comment:focus {
  border: 1px solid #2196f3;
  outline: #2196f3;
}

.modal-form__input:focus + .modal-form__icon {
  fill: #2196f3;
}

.modal-form__input:hover + .modal-form__icon {
  fill: #2196f3;
}

.modal-form__input:hover {
  border: 1px solid #2196f3;
}

.modal-form__input:focus {
  border: 1px solid #2196f3;
  outline: #2196f3;
}

.checkbox {
  margin-top: 20px;
  margin-bottom: 31px;
}

.checkbox__label {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 1199px) {
  .checkbox__label {
    font-size: 12px;
    line-height: 14px;
  }
}

.checkbox__input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: absolute;
}

.checkbox__icon {
  display: inline-block;
  width: 16px;
  height: 15px;
  border: 2px solid black;
  margin-right: 7px;
}

.checkbox__input:checked + .checkbox__icon {
  background-color: #2196f3;
  border-color: #2196f3;
  background-image: url(../images/iconcheck.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-origin: border-box;
  display: inline-block;
}

.agreement {
  margin-left: 5px;
  text-decoration: underline;
  color: #2196f3;
}

.modal-button {
  display: block;
  width: 200px;
  height: 50px;
  color: #ffffff;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  background: #188ce8;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
}

.social-networks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 206px;
  height: 44px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 0;
  margin: 0 auto;
}

.social-networks__item {
  display: block;
  width: 44px;
  height: 44px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
}

.social-networks__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  fill: white;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.section-first {
  background-color: #ffffff;
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .section-first {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.section-first__futures {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

@media screen and (min-width: 768px) {
  .section-first__futures {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (min-width: 1200px) {
  .section-first__futures {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

.section-first__title {
  margin-top: 0;
  margin-bottom: 10px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

@media screen and (max-width: 767px) {
  .section-first__title {
    text-align: center;
  }
}

.section-first__text {
  margin: 0;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

.section-first__list {
  width: 450px;
}

.section-first__list:not(:last-child) {
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .section-first__list {
    width: 354px;
  }
  .section-first__list:nth-child(-n+2) {
    margin-bottom: 30px;
  }
  .section-first__list:nth-child(2n+1) {
    margin-right: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .section-first__list {
    width: 270px;
  }
  .section-first__list:not(:last-child) {
    margin-right: 30px;
  }
  .section-first__list:nth-child(-n+3) {
    margin-bottom: 0;
  }
}

.section-first__box {
  width: 450px;
  height: 120px;
  background: #f5f4fa;
  border: 1px solid transparent;
  border-radius: 4px;
  margin-bottom: 30px;
  background-position: center;
  background-repeat: no-repeat;
}

@media screen and (min-width: 768px) {
  .section-first__box {
    width: 354px;
  }
}

@media screen and (min-width: 1200px) {
  .section-first__box {
    width: 270px;
  }
}

.section-first__list:nth-child(1) .section-first__box {
  background-image: url(../images/v1.svg);
}

.section-first__list:nth-child(2) .section-first__box {
  background-image: url(../images/v2.svg);
}

.section-first__list:nth-child(3) .section-first__box {
  background-image: url(../images/v3.svg);
}

.section-first__list:nth-child(4) .section-first__box {
  background-image: url(../images/v4.svg);
}

.section-second {
  background-color: #ffffff;
  padding-bottom: 94px;
}

@media screen and (max-width: 1199px) {
  .section-second {
    display: none;
  }
}

.section-second__title {
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  margin-top: 0;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 0;
}

.section-second__foto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 0;
}

.section-second__list:not(:last-child) {
  margin-right: 30px;
}

.product {
  position: relative;
}

.product__text {
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  bottom: 0;
  margin: 0;
  padding-top: 27px;
  padding-bottom: 27px;
  left: 0;
  right: 0;
  color: #ffffff;
  position: absolute;
  background: rgba(47, 48, 58, 0.8);
}

.section-third {
  background: #f5f4fa;
  padding-top: 60px;
  padding-bottom: 60px;
}

.section-third__title {
  display: block;
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  margin-top: 0;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 1200px) {
  .section-third__title {
    font-size: 36px;
    margin-bottom: 50px;
  }
}

.section-third__team {
  padding: 0;
  margin: 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (min-width: 768px) {
  .section-third__team {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (min-width: 1200px) {
  .section-third__team {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

.section-third__list {
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background: #ffffff;
  height: 622px;
}

@media screen and (max-width: 767px) {
  .section-third__list:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .section-third__list {
    width: 354px;
    height: 536px;
  }
  .section-third__list:nth-child(-n+2) {
    margin-bottom: 30px;
  }
  .section-third__list:nth-child(2n+1) {
    margin-right: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .section-third__list {
    height: 428px;
  }
  .section-third__list:not(:last-child) {
    margin-right: 30px;
    margin-bottom: 0;
  }
}

.section-third__name-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
  margin-top: 30px;
}

.section-third__text-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
  margin-top: 0;
  margin-bottom: 16px;
}

@media screen and (min-width: 1200px) {
  .section-third {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.network-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  fill: #afb1b8;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.network-list:hover, .network-list:focus {
  background-color: #2196f3;
  fill: white;
}

.section-four {
  background-color: #ffffff;
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .section-four {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.section-four__title {
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  margin-top: 0;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 1200px) {
  .section-four__title {
    font-size: 36px;
    margin-bottom: 50px;
  }
}

.section-four__list {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section-four__item {
  width: 210px;
  height: 90px;
}

@media screen and (max-width: 767px) {
  .section-four__item:nth-child(-n+4) {
    margin-bottom: 30px;
  }
  .section-four__item:nth-child(2n+1) {
    margin-right: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .section-four__item {
    width: 226px;
    margin-bottom: 0;
    margin-right: 30px;
  }
  .section-four__item:nth-child(-n+3) {
    margin-bottom: 30px;
  }
  .section-four__item:nth-child(3n+3) {
    margin-right: 0;
  }
}

@media screen and (min-width: 1200px) {
  .section-four__item {
    width: 170px;
    margin-bottom: 0;
  }
  .section-four__item:not(:last-child) {
    margin-right: 30px;
  }
}

.section-four__link {
  width: 210px;
  height: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  cursor: pointer;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  fill: #afb1b8;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 767px) {
  .section-four__link {
    width: 226px;
  }
}

@media screen and (min-width: 1200px) {
  .section-four__link {
    width: 170px;
  }
}

.section-four__link:hover, .section-four__link:focus {
  fill: #2196f3;
  border-color: #2196f3;
}

@media screen and (max-width: 767px) {
  .section-four {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
/*# sourceMappingURL=main.css.map */